security:
  jwt:
    token:
      secret: ${JWT_SECRET:my-secret-key}
spring:
  application:
    name: cesmusic
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://dpg-cqt7qobv2p9s73a8vk4g-a.oregon-postgres.render.com:5432/cesmusic_db_gb09
#    url: ${DB_URL}
    username: admin
#    username: ${DB_USER}
    password: UuUPGJHDIAwsOseNVBigdBtDmJJcTDWX
#    password: ${DB_PASSWORD}
  jpa:
    open-in-view: false
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: update
    show-sql: false
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
spring-doc:
  pathsToMatch:
    - /auth/**
    - /api/v1/**
  swagger-ui:
    use-root-path: true