security:
  jwt:
    token:
      secret: ${JWT_SECRET:my-secret-key}
spring:
  application:
    name: cesmusic
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/cesmusic_db?useTimezone=true&serverTimezone=UTC # url database
    username: developer
    password: 123456
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: none
    show-sql: false
  mail:
    host: sandbox.smtp.mailtrap.io
#    host: smtp.gmail.com
    port: 587
    username: 9828be330a608c
#    username: cesmusic.blog@gmail.com
    password: b3a10d9b4a75b6
#    password: urfm gmoi umvo enaw
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
spring-doc:
  pathsToMatch:
    - /auth/**
    - /api/v1/**
  swagger-ui:
    use-root-path: true